useDynLib(conceptorCP, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(ccp)
export(plotCP)
importFrom(grDevices,rgb)
importFrom(dplyr,"%>%")
importFrom(scales,label_number)
